body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.main-container{
    max-width:100%;
    min-height:1000px;
}

.header{
    min-height: 60px;
    width:100%;
    background-color: #5C093F;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu{
    /* background-color: lightblue; */
    width:100%;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    /* background-color: grey; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:8px;
    padding-left:10px;
}

.menu-search{
    background-color: #5C093F;
    width:400px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu-search button{
    height:38px;
    width:38px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:2px solid black */
}

.menu-search button img{
    height:100%;
}

.menu-search input{
    width:360px;
    height:38px;
    padding:6px 10px;
    color:#5C093F;
    border:none;
    border-radius:6px;
}

.menu-search input:focus{
    outline:2px solid #5C093F;
}

.links{
    /* background-color: rgb(186, 186, 11); */
    width:300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:14px;
}

.links ul{
    width:100%;
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
}

.links a{
    text-decoration: none;
    color:white;
    border:2px solid #5C093F;
    padding:4px;
    transition: 0.5s;
}

.links a:hover{
    transition: 0.5s;
    border-bottom:2px solid white;
}

.links li{
    list-style-type: none;
}

.menu-btns{
    /* background-color: orange; */
    height:100%;
    width:84px;
}

.mini-links{
    /* background-color: violet; */
    height:100%;
    width:160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
}

.mini-links img{
    height:30px;
    width:30px;
    /* border:2px solid red */
}

.mini-links a{
    text-decoration: none;
}

.mini-links li{
    list-style-type: none;
}









@media (max-width:900px){
    .logo{
        /* background-color: red; */
        padding-top:8px;
        padding-left:0px;
        /* font-size:10px; */
    }
    .logo h1{
        font-size: 24px; 
    } 
    .links{
        display: none;
    }
    .mini-links{
        display: flex;
        /* padding:10px; */
    }
    .menu-search{
        display: none;
    }
 
    .menu{
        padding:0px 10px;
    }
}
